* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 800px;
    margin: 0 auto;
}


/* Header */

.header-list-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(162, 201, 242);
}

.header-content-section {
    height: 250px;
    background-color: rgb(24, 24, 139);
}

.link-bar {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 25px;
    border: 2px dotted black;
    background-color: rgb(215, 146, 18);
}

.header-link {
    flex-basis: calc(100% / 3);
    text-align: center;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
}

.header-content-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 400px;
    height: 200px;
    border: 2px dotted black;
    background-color: rgb(227, 133, 219);
}


/* Main: */

/*-Figure Section*/

.figure-section {
    height: 900px;
}

.first-figure,
.second-figure,
.third-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 3);
}

.first-figure,
.third-figure {
    background-color: white;
}

.second-figure,
.green-section {
    background-color: rgba(128, 128, 128, 0.443);
}


.bg-pink, .bg-blue {
    height: 250px;
    border: 2px dotted black;
}
.bg-pink {
    background-color: rgb(244, 175, 193);
    flex-basis: calc((100% / 4) * 1);
}

.bg-blue {
    background-color: rgb(36, 138, 240);
    flex-basis: calc((100% / 4) * 2);
}

/*-Green Section */

.green-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */

footer {
    background-color: black;
}

.footer-content-section {
    height: 300px;
}

.footer-buttons-section {
    height: 50px;
}