* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
width: 1500px;
margin: 0 auto;
}

 
/* Header */

.header-list-section {
    height: 50px;
background-color: rgb(114, 174, 237);
}

.header-content-section {
    height: 250px;
background-color: rgb(8, 8, 87);
}

/* Main: */

/*-Figure Section*/

.figure-section {
    height: 900px;
}

.first-figure {
    height: calc(100% / 3);
background-color: white;
}

.second-figure {
    height: calc(100% / 3);
background-color: grey;
}

.third-figure {
    height: calc(100% / 3);
background-color: white;
}


/*-Green Section */

.green-section {
height: 400px;
background-color: grey;
}


/* Footer */

footer {
    background-color: black;
}

.footer-content-section {
height: 300px;
}

.footer-buttons-section {
height: 50px;
}

