* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* BORDI */

.black-border {
    border: 1px dashed black;
}

.white-border {
    border: 1px dashed white;
}

/* BACKGROUNDS */

.bg-celeste {
    background-color: rgb(141, 206, 215);
}

.bg-senape {
    background-color: rgb(217, 146, 32);
}

.bg-dark-blue {
    background-color: rgb(8, 8, 137);
}

.bg-violet {
    background-color: violet;
}

.bg-blue {
    background-color: rgb(41, 137, 246);
}

.bg-pink {
    background-color: pink;
}

.bg-grey {
    background-color: rgba(169, 169, 169, 0.578);
}

.bg-green {
    background-color: green;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.818);
}

.bg-salmon {
    background-color: salmon;
}

.bg-verde-bottiglia {
    background-color: rgb(71, 173, 163);
}

.bg-aquamarine {
    background-color: aquamarine;
}


/* HEADER */
.header1 {
    align-items: center;
    height: 50px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.navbar-link {
    justify-content: center;
    align-items: center;
    border-left: 1px dotted black;
    border-right: 1px dotted black;
    flex-basis: calc(100% /3);
    height: 100%;
}

.header2 {
    justify-content: center;
    align-items: center;
    height: 300px;
}

.bg-violet {
    align-items: center;
    width: 40%;
    height: 250px;
}

/* MAIN */


.main-sezione1,
.main-sezione2,
.main-sezione3 {
    align-items: center;
    height: 350px;
}

.main-sezione4 {
    align-items: center;
    height: 550px;
}

.blue-section {
    height: 300px;
    flex-basis: 60%;
}

.pink-section {
    height: 300px;
    flex-basis: 40%;
}

.green-section {
    height: 500px;
    width: 100%;
}

/* FOOTER */

/*Footer prima sezione*/

.footer-sezione1 {
    align-items: flex-start;
    height: 350px;
    border-bottom: 2px solid white;
    padding-top: 5px;
}

.salmon-section {
    height: 320px;
    flex-basis: calc((100% / 12) * 4)
}

.verde-bottiglia-section {
    height: 320px;
    flex-basis: calc((100% / 12) * 8)
}

.lista {
    width: 100%;
}

.ul1,
.ul2,
.ul3,
.ul4 {
    flex-basis: 25%;
    border: 1px dashed white;
}

/* Footer seconda sezione */

.footer-sezione2 {
    align-items: flex-end;
    height: 80px;
}

.aquamarine-section {
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

button {
    font-size: 14px;
    padding: 5px;
    background-color: pink;
}