* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 800px;
    margin: 0 auto;
}


/* Header */

.header-navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(162, 201, 242);
}

.header-content-section {
    height: 250px;
    background-color: rgb(24, 24, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 25px;
    border: 2px dotted black;
    background-color: rgb(215, 146, 18);
}

.header-link {
    flex-basis: calc(100% / 3);
    text-align: center;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
}


.header-content-bg-pink {
    width: 400px;
    height: 200px;
    border: 2px dotted black;
    background-color: rgb(227, 133, 219);
}


/* Main: */

/*-Figure Section*/

.figure-section {
    height: 900px;
}

.first-figure,
.second-figure,
.third-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% / 3);
}

.first-figure,
.third-figure {
    background-color: white;
}

.second-figure,
.green-section {
    background-color: rgba(128, 128, 128, 0.443);
}


.bg-pink, .bg-blue {
    height: 250px;
    border: 2px dotted black;
}
.bg-pink {
    background-color: rgb(244, 175, 193);
    flex-basis: calc((100% / 4) * 1);
}

.bg-blue {
    background-color: rgb(36, 138, 240);
    flex-basis: calc((100% / 4) * 2);
}

/*-Green Section */

.green-section {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-green {
    width: 70%;
height: 450px;
    border: 2px dotted black;
    background-color: green;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.872);
}

.footer-content-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

.footer-buttons-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 200px;
    background-color: black;
}


.bg-salmon {
    flex-basis: calc((100% / 12) * 4);
    background-color: salmon;
    border: 2px dotted black;
    height: 90%;
    width: 200px;
}

.bg-verde-acqua-scuro {
flex-basis: calc((100% / 12) * 8);
background-color: rgb(44, 122, 118);
border: 2px dotted white;
height: 90%;
width: 800px;
}

.bg-aquamarine {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 25px;
    border: 2px dotted black;
    background-color: aquamarine;
}

.button {
    border: 2px dotted black;
}

.ul {
    display: flex;
    flex-basis: calc((100% / 12) * 4);
    border-right: 2px dotted white;

}
.prima-lista {
    
}

.seconda-lista {
    
}

.terza-lista {
}

.quarta-lista {
}
