* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer {
    width: 800px;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 25px auto;
}

/* Header */

.header-navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(162, 201, 242);
}

.header-content-section {
    height: 250px;
    background-color: rgb(24, 24, 139);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 25px;
    border: 2px dotted black;
    background-color: rgb(215, 146, 18);
}

.header-link {
    flex-basis: calc(100% / 3);
    text-align: center;
    border-left: 2px dotted black;
    border-right: 2px dotted black;
}


.header-content-bg-pink {
    width: 400px;
    height: 200px;
    border: 2px dotted black;
    background-color: rgb(227, 133, 219);
}


/* Main */

.bg-white,
.bg-grey {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: rgba(128, 128, 128, 0.443);
}


.bg-pink,
.bg-blue {
    height: 250px;
    border: 2px dotted black;
}

.bg-pink {
    background-color: rgb(244, 175, 193);
    flex-basis: 40%;
}

.bg-blue {
    background-color: rgb(36, 138, 240);
    flex-basis: 60%;
}

.bg-green {
    width: 100%;
    height: 400px;
    border: 2px dotted black;
    background-color: green;
}


/* Footer */


.footer-first-section {
    display: flex;
    justify-content: center;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.872);
    border-bottom: 2px solid white;
}

.footer-second-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.872);
    height: 50px;
}

.bg-salmon {
    background-color: salmon;
    border: 2px dotted black;
    width: calc((100% / 12) * 4);
}

.bg-verde-acqua-scuro {
    display: flex;
    background-color: rgb(44, 175, 169);
    border: 2px dotted white;
    width: calc((100% / 12) * 8);
}

.lista-uno, .lista-due, .lista-tre, .lista-quattro {
    flex-basis: calc(100% / 4);
    border-left: 2px dotted white;
}

.bg-aquamarine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px dotted black;
    background-color: aquamarine;
    width: 70%;
    height: 30px;
}

.button {
    border: 2px dotted black;
}